<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>editTable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25BD4E891CAE18EA00C1020C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25BD4EA21CAE18EA00C1020C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25BD4EAD1CAE18EA00C1020C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
